@import "../../variables.scss";


.cardFront {
  margin-bottom: 2%;
  // align-items: center;
  color:rgb(19, 61, 75);
  justify-content: center;
  display: flex;
  grid-template-columns: repeat(1, 3fr);
  // grid-column: 1fr;
  // padding: 5%;
  border: 2px solid black;
  // size: 1px;
  width: 500px;
  margin-left: 45%;
  background-color: whitesmoke;
  
    &:hover{
    // background-color: black;
    // color:white;
    box-shadow: rgba($color:black, $alpha: 0.5);
    // z-index: 100;
    border: 2px solid black;
    }   
    

img{
  width: 20%;  
  // height: 10%;
  background-color: whitesmoke;
  padding: 2%;
}
h2{
  color:rgb(19, 61, 75);
  font-size: 25px;
  background-color: whitesmoke;
  font-weight: bold;
}
  p{
  color:rgb(19, 61, 75);
    font-size: 15px;
    background-color: whitesmoke;
  }
  span{
    background-color: whitesmoke;
    color:rgb(19, 61, 75);
    font-style: italic;
    
  }
}
.description{
  color: pink;
}
.cardText{
  margin: 2%;
  background-color: whitesmoke;

}